{% extends "base.html" %}
{% block title %} Journal {% endblock %}
{% block group-info %}
    <h2> {{ group.title }}</h2>
    <p><strong>Teacher: </strong> {{ teacher.first_name }} {{ teacher.last_name }}</p>
{% endblock %}

{% block content %}
            {{ lessons }}

    <table>
        <tr>
            <th> Student</th>
            {% for lesson in lessons %}
                <th>{{ lesson.title }}</th>
            {% endfor %}
        </tr>
                {% for student, rel_data in journal %}
                    <tr>
                        <td><a href="{% url 'student-info' pk=student.pk%}"> {{ student.email }} </a></td>

                        <td>
                            {% if rel_data.visited %}
                                ✅
                            {% else %}
                                ❌
                            {% endif %}
                            Points: {{ rel_data.points }}
                        </td>

                    </tr>
                {% endfor %}
    </table>

{% endblock %}
