body {
    background-color: lightblue;
}

a, h2 {
    background-color: lightblue;
    color: yellow;
    border: green solid 5px;
}

.age-message {
    border: red dashed 3px;
}

#too_young {
    border: blue dashed 3px;
}

#middle-age {
    border: yellow dashed 3px;
}

